
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
body {
  background-image: url("/images/night.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.hi {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  font-family: "Cedarville Cursive", cursive;
  margin-top: -10px;
}

.list {
  display: flex;
  flex-direction: column;
  background: #0649b4;
  color: #fff;
  padding: 10px 30px;
  margin: 10px;
  text-decoration: none;
  justify-content: space-around;
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 30px;
}

.boton {
  display: inline-block;
  background: #0649b4;
  color: #fff;
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 30px;
  margin-top: 80px;
  margin-bottom: 10px;
}

nav {
  flex-direction: column;
  align-items: center;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.shrink {
  display: none;
}

.list:hover {
  background: blue;
}

.boton:hover {
  background: blue;
}

.about p {
  color: #fff;
  font-family: "Cedarville Cursive", cursive;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}

.about_images {
  border-radius: 20px;
  position: absolute;
  width: 25%;
  height: 25%;
}

.about_yankees {
  margin-top: -50px;
  margin-left: 100px;
}

.about_snowboard {
  margin-top: 150px;
  margin-left: 550px;
}

.about_cocktails {
  margin-top: -50px;
  margin-left: 1000px;
}

.about_piano {
  margin-top: 150px;
  margin-left: 1500px;
}

.boton_return {
  background: red;
  color: #fff;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 20px;
}

.about_return {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 600px;
}

.project_p {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
}

.project_i {
  border-radius: 20px;
  position: absolute;
  width: 25%;
  height: 25%;
}

.project_home {
  margin-left: 800px;
}

.project_about {
  margin-top: 275px;
  margin-left: 100px;
}

.project_skills {
  margin-top: 450px;
  margin-left: 550px;
}

.project_we {
  margin-top: 275px;
  margin-left: 1000px;
}

.project_contact {
  margin-top: 450px;
  margin-left: 1500px;
}

.project_return {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 850px;
}

.skills_texts .skills_top {
  margin-top: 100px;
}
.skills_texts p {
  color: #fff;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  font-size: 30px;
}

.skills_margin {
  margin-right: 20px;
}

.skills_return {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.we_p .we_top {
  margin-top: 50px;
}
.we_p p {
  color: #fff;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 50px;
  margin-top: -20px;
  font-size: 21px;
}

.we_imageswi {
  width: 3%;
  height: 3%;
  position: absolute;
  margin-top: 705px;
  margin-left: 400px;
}

.we_imagessargent {
  width: 4%;
  height: 4%;
  position: absolute;
  margin-top: 295px;
  margin-left: 340px;
}

.we_imageshayden {
  width: 7%;
  height: 7%;
  position: absolute;
  margin-top: -30px;
  margin-left: 345px;
}

.we_return {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact_c {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  list-style: none;
  margin-top: 5%;
}

a {
  color: #fff;
}

.contact_gap {
  margin-right: 20px;
}

.contact_canada {
  width: 4%;
  height: 4%;
  margin-left: 20px;
  filter: brightness(1.1);
  mix-blend-mode: color-burn;
}

.contact_telc {
  margin-left: 650px;
}

.contact_telm {
  margin-left: 530px;
}

.contact_mexico {
  width: 4%;
  height: 4%;
  margin-left: 20px;
  filter: brightness(1.1);
  mix-blend-mode: color-burn;
}

.contact_return {
  display: flex;
  flex-direction: column;
  align-items: center;
}/*# sourceMappingURL=style.css.map */